Source: xfdashboard
Section: xfce
Priority: optional
Maintainer: Xubuntu Developers <xubuntu-devel@lists.ubuntu.com>
Uploaders: Unit 193 <unit193@ubuntu.com>
Build-Depends: debhelper-compat (= 12),
 gettext,
 intltool,
 libclutter-1.0-dev,
 libdbus-glib-1-dev,
 libgarcon-1-0-dev,
 libglib2.0-dev,
 libwnck-3-dev,
 libxcomposite-dev,
 libxdamage-dev,
 libxfce4ui-2-dev,
 libxfce4util-dev,
 libxfconf-0-dev,
 pkg-config,
 xfce4-dev-tools
Rules-Requires-Root: no
Standards-Version: 4.2.0
Homepage: https://docs.xfce.org/apps/xfdashboard/start
Vcs-Browser: https://git.launchpad.net/~xubuntu-dev/+git/xfdashboard
Vcs-Git: https://git.launchpad.net/~xubuntu-dev/+git/xfdashboard

Package: xfdashboard
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: xfdashboard-plugins
Description: GNOME shell like dashboard for Xfce
 xfdashboard provides an overview of applications currently open enabling the
 user to switch between different applications. The search feature works like
 Xfce's appfinder which makes it convenient to search for and start
 applications.

Package: xfdashboard-plugins
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: xfdashboard
Description: GNOME shell like dashboard for Xfce - plugins
 xfdashboard provides an overview of applications currently open enabling the
 user to switch between different applications. The search feature works like
 Xfce's appfinder which makes it convenient to search for and start
 applications.
 .
 This package contains the xfdashboard plugins.

Package: libxfdashboard0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNOME shell like dashboard for Xfce - shared library
 xfdashboard provides an overview of applications currently open enabling the
 user to switch between different applications. The search feature works like
 Xfce's appfinder which makes it convenient to search for and start
 applications.
 .
 This package contains the libxfdashboard shared library.

Package: libxfdashboard-dev
Section: libdevel
Architecture: any
Depends: libxfdashboard0 (= ${binary:Version}),
 libclutter-1.0-dev, libcogl-dev, libdbus-glib-1-dev, libgarcon-1-0-dev,
 libglib2.0-dev, libgtk-3-dev, libwnck-3-dev, libxfce4ui-2-dev,
 libxfce4util-dev, libxfconf-0-dev, ${shlibs:Depends}, ${misc:Depends}
Breaks: libxfdashboard0 (<< 0.6.0-0ubuntu2~)
Replaces: libxfdashboard0 (<< 0.6.0-0ubuntu2~)
Description: GNOME shell like dashboard for Xfce - development files
 xfdashboard provides an overview of applications currently open enabling the
 user to switch between different applications. The search feature works like
 Xfce's appfinder which makes it convenient to search for and start
 applications.
 .
 This package provides the libxfdashboard development files.
